.food-header{
    text-align:center;
}
.intro{
    background-image: url(images/Food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-content{
    background: rgb(0 4 , 0, 0.3);
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.intro-content h1{
    font-size: 48px;
    margin-bottom: 10px;
    font-family:'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.intro-content btn{
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight:bold;
}
.intro-btn:hover{
    background: #a93226;
}
.food-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    max-width: 1000px;
}
.food-card{
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    flex: 0 0 48%;
    box-sizing: border-box;

}
.reciepe{
    background-color: #1F6AE1;
    color: white;
    border: none;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 12px;
    transition: background-color 1s;
    cursor: pointer;
}
.reciepe:active{
    background-color: rgb( 56, 56, 126);
}
.food-card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}
.navbar{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav-links a:hover{
    text-decoration: underline;
}
.description{
    font-size: 20px;
}
