.food-header{
    text-align:center;
}
.intro{
    height:300px;
    background-image: url(images/foods.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    object-fit: cover;
    
    
}
.food-container{
    justify-content: center;   
     display:flex;
    flex-wrap:wrap;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.food-card{
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;background: #fff;
    flex: 0 0 48%;
    box-sizing: border-box;

}
.reciepe{
    background-color: rgb(76, 76, 206);
    color: white;
    border: none;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 12px;
}
.food-card img{
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: block;

}
.navbar{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
